.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 80px;
}

nav {
  display: flex;
  align-items: center;

  img {
    height: 50px;
    margin-right: 20px;
  }

  h2 {
    margin-bottom: unset;
  }
}

.page {
  padding: 40px 0;
}
